// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


	$primary   : #28a9ed;
	$secondary : #26A69A;
	$accent    : #9C27B0;

	$dark      : #1D1D1D;

	$positive  : #21BA45;
	$negative  : #C10015;
	$info      : #31CCEC;
	$warning   : #F2C037;

	$secondaryBg: #f3f3f3;
	$black: #000;
	$textColor: #757575;
	$purple: #673ab7;
	$lightGray: #eaeaea;
	$lightBlue: #28a9ed;
	$textlightColor: #3e3e3e;
	$btnGbColor: #eaeaea;

// Dark theme styling 

	$white: #fff;